html, body{

    margin:0;
    padding: 0;
}

body{

    background-image:url(gambar/batik.jpg);
}



.judul {

    border: 3px solid blue;
    width: 180px;
    height: 100px;
    background: black;
    padding: 10px;
    position: relative;
}


.judul h2{

    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top:13px;
    text-decoration: underline;
    left:30px;
}

.navigation{

    order:2;
    position: absolute;
    top:0;
    left: 200px;
}

ul{

position: relative;
top:5px;
width: 500px;
height: 30px;
}

li{

    display: inline-block;
    margin-left:15px;
    transition: 1s;
}

li:hover{

    border:2px solid blue;
    background: black;
    padding: 8px;
}

li a{

    font-size: 18px;
    color:black;
    font-family: sans-serif;
  

}

li a:hover{

    color:white;
    text-decoration: none;
}


.edit {

    border: 3px solid blue;
    width: 40px;
    height: 20px;
    background: black;
    padding: 10px;
    position: relative;
    left: 1200px;
    top:-110px;
}


.edit a{

    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top:10px;
    text-decoration: underline;
    left:13px;
}

h2{

    text-align: center;
    color:black;
    font-family: sans-serif;

}

hr{

    background: black;
    padding: 2px;
    width: 250px;
    height: 1px;
    margin-top:-10px;
    border:1px solid blue;
}

.isi{
    
    position: relative;
    color: black;
    font-size: 18px;
    top:20px;
    left:300px;;
}

.pendidikan h2{

    text-align: center;
    color: black;
    font-family: sans-serif;
    margin-top:40px;
}

.sekolah{


    position: relative;
    left: 700px;
    top:40px;

}


.sd{

    position: relative;
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
    position: absolute;
    left:-20px;
    top:70px;
    

}


.smp{

    position: relative;
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
    position: absolute;
    left:-20px;
    top:210px;
}


.smk{

    position: relative;
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
    position: absolute;
    left:-20px;
    top:360px;
}




.sekolah img{

    width: 100px;
    height: 100px;

}

.sekolah .img1{

    position: absolute;
    top:0;
    left: -150px;

}


.sekolah .img2{

    position: absolute;
    top:140px;
    left: -150px;

}


.sekolah .img3{

    position: absolute;
    top:290px;
    left: -150px;

}

.iya{

    position: absolute;
    top:930px;
    left: 450px;
    
    }
    
    
    
    .pretasi h2{
    
        text-align: center;
        color:black;
        font-family: sans-serif;
      
    
    }

.tulisan{

    position: relative;
    color: black;
    font-size: 18px;
    margin-top:30px;
    margin-bottom: 20px;
    left: -130px;
}